@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lugrasimo&display=swap');
* {
    margin: 0; 
    padding: 0;

 a{
    text-decoration: none;
 }
 


 .container{
    width: 100%;
    background-color: #16c280;
    margin: 0 auto;

 }
 header{
    padding: 50px 0 ;
 }
 footer{
    padding: 50px 0 ;
 }
.main {
    height: 1000px;
}
header .logo{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 28;
    padding: 0 25px;
    color: black;

 }
 header nav{
    float: right;
    width: 50%;
 }

 header nav ul {
    list-style: none;
    display: flex;
    padding: 0 25px;
    justify-content: space-between;
 }
 header nav ul li{
    display: inline-block;
 }
 header nav ul li a{
    font-size: 20px;
    color:black;
    transition: all 500ms ease;
 }
 header nav ul li a:hover{
    color:white;
    cursor: pointer;
    font-size: larger;
 }

}
body{
    font-family:"Lugrasimo", cursive;
    font-weight: 400;
}
.main .content {
    display: flex;
    margin: 400px 50px;

}

.main #area {

    width: 304px;
    border: 3px solid #000;
    margin: 0 auto;
    font-size: 0;
}
.main .cell {
    width: 100px;
    height: 100px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 32px;
    border: 1px solid #000;
    cursor: pointer;
    vertical-align: middle;
    transition: background .1s;
}

.main .cell:hover {
    background-color: #F1F1F1;
    
}
.main .currentPlayer {
    width: 140px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.main .stat {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.main .stat table {
    border-collapse: collapse;
}

.main .stat table, .stat th, .stat td {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
}

@media screen and (max-width: 1024px){
    header nav ul li{
        padding: 0 25px;
      
     }
     header nav{
        width: 65%;
     }
     header nav ul li a{
        font-size: 18px;
     }
}
@media screen and (max-width: 769px){
    header{
        height: 60px;
    }
    header nav ul li a{
        font-size: 17px;
     }
}
@media screen and (max-width: 426px){
    header{
        height: 225px;
    }
    header .logo{
        margin-left: 130px;

    }
    header nav ul {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 20px;
        margin-left: -100px;
        
        
    }
    header nav ul li{
        margin: 10px 0;
    }
    .main .content {
        display: block;
        
    }
    .main .currentPlayer{
        margin-left: 100px;
        margin-bottom: 30px;
    }
    .main .stat{
        margin-top: 50px;
        margin-left: 107px;
    }
}
@media screen and (max-width: 376px){
    header .logo{
        margin-left: 95px;
    }
    .main .currentPlayer{
        margin-left: 75px;
    }
    .main #area{
        margin-left: -15px;
    }

    .main .stat{
        margin-left: 85px;
    }
}
@media screen and (max-width: 321px){
    header .logo{
        margin-left: 80px;
    }
    header nav ul{
        margin-left: -80px;
    }
    .main .currentPlayer{
        margin-left: 45px;
    }
    .main #area{
        margin-left: -45px;
    }

    .main .stat{
        margin-left: 55px;
    }
}